In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [22]:
# Create a Ticker object for Apple
aapl = yf.Ticker("AAPL")

In [ ]:
# Extract income statement
income_statement = aapl.financials  # Annual financials
quarterly_income_statement = aapl.quarterly_financials  # Quarterly financials

# Display
print(income_statement)  
print(quarterly_income_statement)

                                                        2024-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                        0.240912
Normalized EBITDA                                   134661000000.0
Net Income From Continuing Operation Net Minori...   93736000000.0
Reconciled Depreciation                              11445000000.0
Reconciled Cost Of Revenue                          210352000000.0
EBITDA                                              134661000000.0
EBIT                                                123216000000.0
Net Interest Income                                            NaN
Interest Expense                                               NaN
Interest Income                                                NaN
Normalized Income                                    93736000000.0
Net Income From Continuing And Discontinued Ope...   93736000000.0
Total Expenses                                      267819000000.0
Total Operating Income As Reported                  123216000000.0
Diluted Average Shares                                         NaN
Basic Average Shares                                           NaN
Diluted EPS                                                    NaN
Basic EPS                                                      NaN
Diluted NI Availto Com Stockholders                  93736000000.0
Net Income Common Stockholders                       93736000000.0
Net Income                                           93736000000.0
Net Income Including Noncontrolling Interests        93736000000.0
Net Income Continuous Operations                     93736000000.0
Tax Provision                                        29749000000.0
Pretax Income                                       123485000000.0
Other Income Expense                                   269000000.0
Other Non Operating Income Expenses                    269000000.0
Net Non Operating Interest Income Expense                      NaN
Interest Expense Non Operating                                 NaN
Interest Income Non Operating                                  NaN
Operating Income                                    123216000000.0
Operating Expense                                    57467000000.0
Research And Development                             31370000000.0
Selling General And Administration                   26097000000.0
Gross Profit                                        180683000000.0
Cost Of Revenue                                     210352000000.0
Total Revenue                                       391035000000.0
Operating Revenue                                   391035000000.0

                                                        2023-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                        0.147192
Normalized EBITDA                                   125820000000.0
Net Income From Continuing Operation Net Minori...   96995000000.0
Reconciled Depreciation                              11519000000.0
Reconciled Cost Of Revenue                          214137000000.0
EBITDA                                              125820000000.0
EBIT                                                114301000000.0
Net Interest Income                                   -183000000.0
Interest Expense                                      3933000000.0
Interest Income                                       3750000000.0
Normalized Income                                    96995000000.0
Net Income From Continuing And Discontinued Ope...   96995000000.0
Total Expenses                                      268984000000.0
Total Operating Income As Reported                  114301000000.0
Diluted Average Shares                               15812547000.0
Basic Average Shares                                 15744231000.0
Diluted EPS                                                   6.13
Basic EPS                                                     6.16
Diluted NI Availto Com Stockholders                  96995000000.0
Net Income Common Stockholders                       96995000000.0
Net Income                                           96995000000.0
Net Income Including Noncontrolling Interests        96995000000.0
Net Income Continuous Operations                     96995000000.0
Tax Provision                                        16741000000.0
Pretax Income                                       113736000000.0
Other Income Expense                                  -565000000.0
Other Non Operating Income Expenses                   -565000000.0
Net Non Operating Interest Income Expense             -183000000.0
Interest Expense Non Operating                        3933000000.0
Interest Income Non Operating                         3750000000.0
Operating Income                                    114301000000.0
Operating Expense                                    54847000000.0
Research And Development                             29915000000.0
Selling General And Administration                   24932000000.0
Gross Profit                                        169148000000.0
Cost Of Revenue                                     214137000000.0
Total Revenue                                       383285000000.0
Operating Revenue                                   383285000000.0

                                                        2022-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.162
Normalized EBITDA                                   130541000000.0
Net Income From Continuing Operation Net Minori...   99803000000.0
Reconciled Depreciation                              11104000000.0
Reconciled Cost Of Revenue                          223546000000.0
EBITDA                                              130541000000.0
EBIT                                                119437000000.0
Net Interest Income                                   -106000000.0
Interest Expense                                      2931000000.0
Interest Income                                       2825000000.0
Normalized Income                                    99803000000.0
Net Income From Continuing And Discontinued Ope...   99803000000.0
Total Expenses                                      274891000000.0
Total Operating Income As Reported                  119437000000.0
Diluted Average Shares                               16325819000.0
Basic Average Shares                                 16215963000.0
Diluted EPS                                                   6.11
Basic EPS                                                     6.15
Diluted NI Availto Com Stockholders                  99803000000.0
Net Income Common Stockholders                       99803000000.0
Net Income                                           99803000000.0
Net Income Including Noncontrolling Interests        99803000000.0
Net Income Continuous Operations                     99803000000.0
Tax Provision                                        19300000000.0
Pretax Income                                       119103000000.0
Other Income Expense                                  -334000000.0
Other Non Operating Income Expenses                   -334000000.0
Net Non Operating Interest Income Expense             -106000000.0
Interest Expense Non Operating                        2931000000.0
Interest Income Non Operating                         2825000000.0
Operating Income                                    119437000000.0
Operating Expense                                    51345000000.0
Research And Development                             26251000000.0
Selling General And Administration                   25094000000.0
Gross Profit                                        170782000000.0
Cost Of Revenue                                     223546000000.0
Total Revenue                                       394328000000.0
Operating Revenue                                   394328000000.0

                                                        2021-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.133
Normalized EBITDA                                   123136000000.0
Net Income From Continuing Operation Net Minori...   94680000000.0
Reconciled Depreciation                              11284000000.0
Reconciled Cost Of Revenue                          212981000000.0
EBITDA                                              123136000000.0
EBIT                                                111852000000.0
Net Interest Income                                    198000000.0
Interest Expense                                      2645000000.0
Interest Income                                       2843000000.0
Normalized Income                                    94680000000.0
Net Income From Continuing And Discontinued Ope...   94680000000.0
Total Expenses                                      256868000000.0
Total Operating Income As Reported                  108949000000.0
Diluted Average Shares                               16864919000.0
Basic Average Shares                                 16701272000.0
Diluted EPS                                                   5.61
Basic EPS                                                     5.67
Diluted NI Availto Com Stockholders                  94680000000.0
Net Income Common Stockholders                       94680000000.0
Net Income                                           94680000000.0
Net Income Including Noncontrolling Interests        94680000000.0
Net Income Continuous Operations                     94680000000.0
Tax Provision                                        14527000000.0
Pretax Income                                       109207000000.0
Other Income Expense                                    60000000.0
Other Non Operating Income Expenses                     60000000.0
Net Non Operating Interest Income Expense              198000000.0
Interest Expense Non Operating                        2645000000.0
Interest Income Non Operating                         2843000000.0
Operating Income                                    108949000000.0
Operating Expense                                    43887000000.0
Research And Development                             21914000000.0
Selling General And Administration                   21973000000.0
Gross Profit                                        152836000000.0
Cost Of Revenue                                     212981000000.0
Total Revenue                                       365817000000.0
Operating Revenue                                   365817000000.0

                                                       2020-09-30
Tax Effect Of Unusual Items                                   NaN
Tax Rate For Calcs                                            NaN
Normalized EBITDA                                             NaN
Net Income From Continuing Operation Net Minori...            NaN
Reconciled Depreciation                                       NaN
Reconciled Cost Of Revenue                                    NaN
EBITDA                                                        NaN
EBIT                                                          NaN
Net Interest Income                                   890000000.0
Interest Expense                                     2873000000.0
Interest Income                                      3763000000.0
Normalized Income                                             NaN
Net Income From Continuing And Discontinued Ope...            NaN
Total Expenses                                                NaN
Total Operating Income As Reported                            NaN
Diluted Average Shares                              17528214000.0
Basic Average Shares                                17352119000.0
Diluted EPS                                                  3.28
Basic EPS                                                    3.31
Diluted NI Availto Com Stockholders                           NaN
Net Income Common Stockholders                                NaN
Net Income                                                    NaN
Net Income Including Noncontrolling Interests                 NaN
Net Income Continuous Operations                              NaN
Tax Provision                                                 NaN
Pretax Income                                                 NaN
Other Income Expense                                          NaN
Other Non Operating Income Expenses                           NaN
Net Non Operating Interest Income Expense             890000000.0
Interest Expense Non Operating                       2873000000.0
Interest Income Non Operating                        3763000000.0
Operating Income                                              NaN
Operating Expense                                             NaN
Research And Development                                      NaN
Selling General And Administration                            NaN
Gross Profit                                                  NaN
Cost Of Revenue                                               NaN
Total Revenue                                                 NaN
Operating Revenue                                             NaN

In [ ]:
aapl.history(period="1mo")

/home/lenny/.anaconda3/envs/monte_carlo_simulation/lib/python3.13/site-packages/yfinance/utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-30 00:00:00-05:00,252.229996,253.500000,250.750000,252.199997,35557500,0.0,0.0
2024-12-31 00:00:00-05:00,252.440002,253.279999,249.429993,250.419998,39480700,0.0,0.0
2025-01-02 00:00:00-05:00,248.929993,249.100006,241.820007,243.850006,55740700,0.0,0.0
2025-01-03 00:00:00-05:00,243.360001,244.179993,241.889999,243.360001,40244100,0.0,0.0
2025-01-06 00:00:00-05:00,244.309998,247.330002,243.199997,245.000000,45045600,0.0,0.0
2025-01-07 00:00:00-05:00,242.979996,245.550003,241.350006,242.210007,40856000,0.0,0.0
2025-01-08 00:00:00-05:00,241.919998,243.710007,240.050003,242.699997,37628900,0.0,0.0
2025-01-10 00:00:00-05:00,240.009995,240.160004,233.000000,236.850006,61710900,0.0,0.0
2025-01-13 00:00:00-05:00,233.529999,234.669998,229.720001,234.399994,49630700,0.0,0.0
2025-01-14 00:00:00-05:00,234.750000,236.119995,232.470001,233.279999,39435300,0.0,0.0
2025-01-15 00:00:00-05:00,234.639999,238.960007,234.429993,237.869995,39832000,0.0,0.0
2025-01-16 00:00:00-05:00,237.350006,238.009995,228.029999,228.259995,71759100,0.0,0.0
2025-01-17 00:00:00-05:00,232.119995,232.289993,228.479996,229.979996,68488300,0.0,0.0
2025-01-21 00:00:00-05:00,224.000000,224.419998,219.380005,222.639999,98070400,0.0,0.0
2025-01-22 00:00:00-05:00,219.789993,224.119995,219.789993,223.830002,64126500,0.0,0.0
2025-01-23 00:00:00-05:00,224.740005,227.029999,222.300003,223.660004,60234800,0.0,0.0
2025-01-24 00:00:00-05:00,224.779999,225.630005,221.410004,222.779999,54697900,0.0,0.0
2025-01-27 00:00:00-05:00,224.020004,232.149994,223.979996,229.860001,94863400,0.0,0.0
2025-01-28 00:00:00-05:00,230.850006,240.190002,230.809998,238.259995,75633300,0.0,0.0

/home/lenny/.anaconda3/envs/monte_carlo_simulation/lib/python3.13/site-packages/yfinance/utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-30 00:00:00+00:00,1.042938,1.045850,1.037420,1.042938,0,0.0,0.0
2024-12-31 00:00:00+00:00,1.040615,1.042427,1.034854,1.040615,0,0.0,0.0
2025-01-02 00:00:00+00:00,1.035186,1.037560,1.023185,1.035186,0,0.0,0.0
2025-01-03 00:00:00+00:00,1.026821,1.030535,1.026546,1.026821,0,0.0,0.0
2025-01-06 00:00:00+00:00,1.030535,1.043504,1.029633,1.030535,0,0.0,0.0
2025-01-07 00:00:00+00:00,1.038637,1.043623,1.035947,1.038637,0,0.0,0.0
2025-01-08 00:00:00+00:00,1.034554,1.035840,1.027675,1.034554,0,0.0,0.0
2025-01-09 00:00:00+00:00,1.031470,1.032311,1.028616,1.031470,0,0.0,0.0
2025-01-10 00:00:00+00:00,1.029760,1.031194,1.022119,1.029760,0,0.0,0.0
2025-01-13 00:00:00+00:00,1.024443,1.025021,1.018382,1.024443,0,0.0,0.0
2025-01-14 00:00:00+00:00,1.026525,1.030397,1.023971,1.026525,0,0.0,0.0
2025-01-15 00:00:00+00:00,1.030684,1.035025,1.027063,1.030684,0,0.0,0.0
2025-01-16 00:00:00+00:00,1.029527,1.031151,1.026378,1.029527,0,0.0,0.0
2025-01-17 00:00:00+00:00,1.030195,1.032972,1.026652,1.030195,0,0.0,0.0
2025-01-20 00:00:00+00:00,1.027739,1.042731,1.027939,1.027739,0,0.0,0.0
2025-01-21 00:00:00+00:00,1.042068,1.043406,1.034458,1.042068,0,0.0,0.0
2025-01-22 00:00:00+00:00,1.040594,1.045806,1.040074,1.040594,0,0.0,0.0
2025-01-23 00:00:00+00:00,1.041016,1.042546,1.038562,1.041016,0,0.0,0.0
2025-01-24 00:00:00+00:00,1.041602,1.051934,1.041320,1.041602,0,0.0,0.0
2025-01-27 00:00:00+00:00,1.046759,1.053375,1.045435,1.046759,0,0.0,0.0
2025-01-28 00:00:00+00:00,1.044506,1.045577,1.041526,1.044506,0,0.0,0.0
2025-01-29 00:00:00+00:00,1.043406,1.044605,1.039825,1.040042,0,0.0,0.0